@CHARSET "UTF-8";
body{
	background:url(../image/sk23.jpg);
}
h1{
	text-align:center;
	margin-top:30px;
	margin-bottom:30px;
}
table{
	margin:auto;
	padding-top:20px;
}
caption{
	font-size:20px;
	font-weight:bold;
}
div{
	margin:auto;
	height:auto;
	padding:20px;
	width:400px;
	border:solid 2px #CCC;
	background:#CCC;
}